.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  body{
    background-image: url('background.avif');
    margin: 0; 
    padding: 0; 
    font-family: 'Arial', sans-serif;
    background-size: cover; /* Ensures the background image covers the entire page */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
  }